################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessRuleEngine/.vs/BusinessRuleEngine
/BusinessRuleEngine/bin
/BusinessRuleEngine/obj/Debug
/BusinessRuleEngine/packages
/BusinessRuleEngine.Tests/bin/Debug
/BusinessRuleEngine.Tests/obj/Debug
